<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- line api -->
        <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
        
        
    </head>

    <body>
        <script src="../static/javascript/scan.js"></script> 

        <!-- on phone console log -->
       <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
       <script>
         // VConsole will be exported to `window.VConsole` by default.
         var vConsole = new window.VConsole();
       </script>
    </body>
</html>